@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/*------------------------------ Index page */
body {
    background-color:red;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Fredoka One';
}

h1 {
    font-size: 5.4rem;
    color: white;
    margin-bottom: 5rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: white;
    background: red;
    border-radius: 50px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 1rem 5rem 0 rgb(104, 0, 0);
    transition: transform 150ms;
    transform: scale(1.03)
}

.btn[:disabled]:hover {
    cursor:not-allowed;
    box-shadow: none;
    transform: none;
}

.fa-medal {
    font-size:2.5rem;
    margin-left: 1rem;
}

/*------------------------------ Quiz Page */