@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/*------------------------------ Index page */
:root {
    background-color:rgb(39, 75, 235);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Fredoka One';
}

h1 {
    font-size: 5.4rem;
    color: white;
    margin-bottom: 5rem;
}

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}



.content-column {
    display: flex;
    flex-direction: column;
}

.content-center {
    justify-content: center;
    align-items: center;
}

.quiz-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.btn {
    font-size: 2.4rem;
    padding: 2rem 0;
    width: 30rem;
    text-align: center;
    margin-bottom: 1rem;
    text-decoration: none;
    color: white;
    background: rgb(255, 0, 0);
    border-radius: 50px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.1rem 1rem 0 rgb(104, 0, 0);
    transition: transform 150ms;
    transform: scale(1.03)
}

.btn:disabled:hover {
    cursor:not-allowed;
    box-shadow: none;
    transform: none;
}

.fa-medal {
    font-size:2.5rem;
    margin-left: 1rem;
}


/*------------------------------ Quiz Page */



.choice-container {
    display: flex;
    margin-bottom: 0.8rem;
    width: 100%;
    border-radius: 100px;
    background: rgb(255, 115, 0);
    font-size: 3rem;
    min-width: 80rem;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgb(3, 3, 88);
    transform: scale(1.02);
}

.choice-prefix {
    padding: 2rem 2.5rem;
    color: white;
}

.choice-text {
    padding: 2rem;
    width: 100%;
    color: white;
}

.correct {
    background: rgb(153, 255, 0);
}

.incorrect {
    background: rgb(255, 0, 0);
}

.time-number {
    font-size: 4rem;
    text-align: center;

}

.timer {
    font-size: 3rem;
    text-align: center;
    
}

.timer-content {
   margin-top: 10rem;
}
/* QUIZ */

#quiz {
    display: flex;
    justify-content: space-between;
}

.quiz-prefix {
    text-align: center;
    font-size: 2rem;
    color: white;
}

.quiz-main-text {
    text-align: center;
    
}

#progressBar {
    width: 15rem;
    height: 2rem;
    border: 0.2rem solid rgb(255, 153, 0);
    margin-top: 2rem;
    border-radius: 50px;
    overflow: hidden;

}

#progressBarFull {
    height: 100%;
    background: rgb(255, 153, 0);
    width: 0%;
}

@media screen and (max-width: 768px) {
    .choice-container {
        min-width: 40rem;

    }
}

/* -------------------------------- end page */

.end-form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
}

input {
    margin-bottom: 1rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
}

input::placeholder {
    color: #aaa;
}

#username {
    margin-bottom: 3rem;
    width: 100%;
    outline: none;
}

#end-text {
    font-size: 2.4rem;
    color: #fff;
    text-align: center;
}

#saveScoreBtn {
    border: none;
}

.fa-home {
    margin-left: 1rem;
    font-size: 2rem;
    color: rgb(28, 26, 26)
}

/* ------------------------------ HIGHSCORE */

/* ------------------------------ HOW TO */

.how-to-text {
    font-size: 3rem;
    text-align: center;
    padding:2rem;
    color: white;
}

